{% extends 'common/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/photo-add-page.css' %}">
<link rel="shortcut icon" href="{%  static 'images/5869361_instagram_network_social media_icon.png' %}">
{% block page_content %}
    <!-- Start Add Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <!-- Start Add Photo Form -->
        <form method="post" action="{% url 'add photo' %}" enctype="multipart/form-data">
            {{ form.as_p }}
            <!-- Add Photo Button -->
            <button class="add-btn" type="submit">Add Photo</button>
            {% csrf_token %}
        </form>
        <!-- End Add Photo Form -->
    </div>
    <!-- End Add Photo Section -->
{% endblock %}